body {
   margin: 0; 
}
    #container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(14, 1fr);
    background-image:url(images/background.jpg);
    background-size: cover;
    background-position:center top;
  }

  #header {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 15;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding-left: 40px;
        padding-right: 40px;
  }

  #lien > a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
  }


  #logo > a {
    color: #66A692;
    font-size:x-large;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #text-containeur {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 15;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }

  #content-left{
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 7;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


  #train {
    border-bottom: 3px solid #66A692;
    padding: 40px;
    margin: 10px;
  }

  p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .train{
    width: 120px;
  }

  #travel > input {
    margin-left: 30px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.5);
    border:none;
  }

 #date {
    margin-left: 6px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.5);
    border: none;
 }

 #search {
    background-color: #66A692;
    width: 260px;
    height: 40px;
    color: #ffffff;
    margin-left: 6px;
    border-radius: 0.5em;
    font-size: 15px;
    border: none;
 }

 #travel > input:hover{
    background-color: #DEE0DF;
 }

 #date:hover {
    background-color: #DEE0DF;
 }
 
 #cart-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(14, 1fr);
    background-color: rgb(233, 231, 231);
 }

 #empty-cart {
    background-color: white;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
 }

 #empty-cart > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 500;
 }

#empty-bookings {
    background-color: white;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#empty-bookings > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 500;
}

#bookings-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(14, 1fr);
    background-color: rgb(233, 231, 231);
}

.voyage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 7px;
  margin: 10px;
  align-items: center;
  height: 40px;
  width: 80%;
  margin-top: 5px;
  background-color: antiquewhite;
  font-size: x-large;
}


#content-right{
  background-color: white;
  grid-row-start: 5;
  grid-row-end: 11;
  grid-column-start: 9;
  grid-column-end: 12;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
}

#book {
  height: 30px;
  background-color: #66A692;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: x-small;
}

#price {
  font-weight: 550;
}